@import '@css/index.scss';

.toggleLng {
  position: relative;
  width: 46px;
  height: 21px;
  margin: 0 15px;
  background-color: $bg-btn;
  border-radius: 50px;
  cursor: none;

  @include desktop {
    width: 56px;
    height: 25px;
    cursor: pointer;
  }
}

.circleLng {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 21px;
  height: 21px;
  background-color: $bg-circle-toggle;
  border-radius: 50%;
  z-index: 900;

  &.activeR {
    transform: translateX(25px);
    transition: transform 150ms ease;

    @include desktop {
      transform: translateX(31px);
    }
  }

  &.activeL {
    transform: translateX(0px);
    transition: transform 150ms ease;
  }

  @include desktop {
    width: 25px;
    height: 25px;
  }
}

.listLng {
  display: flex;
  position: absolute;
  top: 2px;
  left: 3.5px;

  @include desktop {
    top: 3.5px;
    left: 4px;
  }
}

.itemLng {
  margin-right: 4px;

  @include desktop {
    margin-right: 7px;
  }
}

.textLng {
  @include font(12px, 300, 0.03em);

  & {
    color: $secondary-color !important;
  }

  @include desktop {
    font-size: 14px;
  }
}
