@import '@css/index.scss';
@import '@font/fonts.scss';

.hero {
  & {
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    // padding-top: 0;
    padding: 0 15px;

    // max-width: 414px;
    max-width: 1024px;
    background-image: linear-gradient($bg-fon-transparent, $bg-fon-transparent),
      url('~@images/bgr-img-mob.jpg');

    @include retina {
      background-image: linear-gradient(
          $bg-fon-transparent,
          $bg-fon-transparent
        ),
        url('~@images/bgr-img-mob@2.jpg');
    }
  }

  @include tabletMin {
    padding: 0 84px;

    // max-width: 1024px;
    background-image: linear-gradient($bg-fon-transparent, $bg-fon-transparent),
      url('~@images/bgr-img-tabl.jpg');

    @include retina {
      background-image: linear-gradient(
          $bg-fon-transparent,
          $bg-fon-transparent
        ),
        url('~@images/bgr-img-tabl@2.jpg');
    }
  }

  @include desktop {
    padding: 0 148px;

    max-width: 1600px;
    background-image: linear-gradient($bg-fon-transparent, $bg-fon-transparent),
      url('~@images/bgr-img-desk.jpg');

    @include retina {
      background-image: linear-gradient(
          $bg-fon-transparent,
          $bg-fon-transparent
        ),
        url('~@images/bgr-img-desk@2.jpg');
    }
  }
}

.heroContaier {
  @include tabletMin {
    display: block;
    max-width: 1170px;
    margin: 0 auto;
  }
}

.titleHero {
  & {
    font-family: 'Marck Script', cursive;
    text-align: center;
    color: $hero-title;
    text-shadow: 4px 8px 8px $accent-shadow;
    padding-top: 165px;
  }

  @include desktop {
    font-size: 190px;
    padding-top: 150px;
  }

  @include tablet {
    @include short-font(140px, 0.25em);
  }

  @include mobile {
    font-size: 75px;
  }

  @include short-font(85px, 00.15em);
}

.subtitleHero {
  & {
    font-family: 'EB Garamond', serif;
    text-align: center;
    color: $hero-title;
    padding-bottom: 165px;
  }

  @include desktop {
    font-size: 40px;
    padding-bottom: 32px;
  }

  @include tablet {
    @include short-font(30px, 0.15em);
  }

  @include font(20px, 600, 0.15em);
}

.heroBoxContactSocial {
  & {
    display: flex;
    justify-content: end;
    // padding: 0 10px 10px 0;
  }

  @include tabletMin {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 40px;
  }
}

.iconHeroColor {
  min-width: 42px;
  min-height: 42px;
  color: $icon-social;
}
