@import '@css/index.scss';

@import '@css/index.scss';

.socialHeroSet {
  & {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
  }

  @include tabletMin {
    justify-content: end;
    padding-bottom: 0;
  }
}

.socialHeroSetItem {
  @include tabletMin {
    display: block;
    padding: 0;
    margin-right: 32px;
  }

  & {
    padding: 5px;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}
