@import '@css/index.scss';

.socialHeroSet {
  display: flex;
}

.socialHeroSetItem {
  @include tabletMin {
    display: block;
    padding: 0;
    margin-right: 32px;
  }

  & {
    padding: 5px;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.iconColor {
  min-width: 42px;
  min-height: 42px;
  color: $icon-social;
}
