@import '@css/index.scss';
@import '@font/fonts.scss';

.contactBox {
  position: relative;
}

.subtitleFooter {
  @include font(20px, 600, 0.05em);

  & {
    color: $primary-text;
    padding-bottom: 14px;
  }
}

.contactItem {
  & {
    display: flex;
    align-items: center;
    color: $primary-text;
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  @include tablet {
    padding-bottom: 12px;
  }
}

.phoneIconFooter {
  min-width: 30px;
  min-height: 33px;
  color: $icon-social-footer;
}

.contactLink {
  @include short-font(18px, 0.05em);
}

.btnBoxReservedTablet {
  & {
    display: none;
  }

  @include tablet {
    display: block;
  }

  @include desktop {
    display: none;
  }
}

.btnReservedTablet {
  & {
    position: absolute;
    border: none;
    background-color: $bg-btn;
    border-radius: 15px;
    padding: 15px 38px;
    margin-top: 32px;
  }

  @include tabletMin {
    @include font(16px, 300, 00.01em);
    & {
      margin: 20px 0 0 0;
    }

    &:active {
      box-shadow: inset 0 0 2px 0px rgba(0, 0, 0, 0.5);
    }
  }
}
