@import '@css/index.scss';

.contactHero {
  & {
    display: none;
  }

  @include tabletMin {
    display: block;
  }
}

.contactHeroItem {
  display: flex;
  align-items: center;
  fill: $icon-social;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.phoneIcon {
  min-width: 30px;
  min-height: 33px;
  color: $icon-social;
}

.contactHeroLink {
  @include font(20px, 800, 0.08em);

  & {
    color: $icon-social;
    margin-left: 4px;
  }
}
