@import '@css/index.scss';

.PhotoCommonContainer {
  padding-bottom: 52px;
}

.subtitlePhoto {
  & {
    font-family: 'EB Garamond', sans-serif;
    color: $secondary-color;
    padding: 0 0 32px 32px;
  }

  @include tabletMin {
    font-size: 32px;
    // padding: 0 0 32px 20px;
  }

  @include font(30px, 500, 0.05em);
}

.PhotoCommonBox {
  display: flex;
}

.photoCommonSlide img {
  border-radius: 10px;
}

.photoCommonSlide {
  display: flex;
  justify-content: center;
}

.photoImg {
  & {
    width: 240px;
    height: 320px;
  }

  @include tabletMin {
    width: 320px;
    height: 320px;
    margin-bottom: 30px;
  }
}

