@import '@css/index.scss';

.PhotoCommonContainer {
  padding-bottom: 52px;
}

.subtitlePhoto {
  & {
    font-family: 'EB Garamond', sans-serif;
    color: $secondary-color;
    padding: 0 0 32px 32px;
  }

  @include tabletMin {
    font-size: 32px;
    // padding: 0 0 32px 20px;
  }

  @include font(30px, 500, 0.05em);
}

.PhotoCommonBox {
  display: flex;
}

.photoCommonSlide img {
  border-radius: 10px;
}

.photoCommonSlide {
  display: flex;
  justify-content: center;
}

.photoImg {
  & {
    min-width: 240px;
    min-height: 320px;
  }

  @include tablet {
    min-width: 341px;
    max-height: 370px;
    margin-bottom: 30px;
  }

  @include desktop {
    max-width: 376px;
    max-height: 420px;
    margin-bottom: 30px;
  }
}
