@import '@css/index.scss';

.btnTheme {
  & {
    background-color: transparent;
    border: none;
    margin-right: 15px;
    outline: none;
  }

  @include tabletMin {
    margin-right: 0;
  }

  @include desktop {
    cursor: pointer;
  }
}

.iconTheme {
  width: 37px;
  height: 37px;
  color: $icon-light;
}
