/* Roboto Slab */
//100
@font-face {
  display: swap;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: url('../public/fonts/roboto-slab-v34-cyrillic_latin-100.woff2')
    format('woff2');
}

// 300
@font-face {
  display: swap;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('../public/fonts/roboto-slab-v34-cyrillic_latin-300.woff2')
    format('woff2');
}

//400 regular
@font-face {
  display: swap;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/roboto-slab-v34-cyrillic_latin-regular.woff2')
    format('woff2');
}

//600
@font-face {
  display: swap;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/roboto-slab-v34-cyrillic_latin-600.woff2')
    format('woff2');
}

//700
@font-face {
  display: swap;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/roboto-slab-v34-cyrillic_latin-700.woff2')
    format('woff2');
}

//800
@font-face {
  display: swap;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 800;
  src: url('../public/fonts/roboto-slab-v34-cyrillic_latin-800.woff2')
    format('woff2');
}

/* EB Garamobd*/
//400
@font-face {
  display: swap;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/eb-garamond-v27-cyrillic_latin-regular.woff2')
    format('woff2');
}

//500
@font-face {
  display: swap;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/eb-garamond-v27-cyrillic_latin-500.woff2')
    format('woff2');
}

//600
@font-face {
  display: swap;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/eb-garamond-v27-cyrillic_latin-600.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/marck-script-v20-latin-regular.woff2')
    format('woff2');
}
