@import-normalize; /* bring in normalize.css styles */

html {
  scroll-behavior: smooth;
}

body,
button {
  background-color: #fffbdd;
  color: #263e24;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* margin: 0 auto; */
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #263e24;
}

address {
  font-style: normal;
}
