// @import-normalize; /* bring in normalize.css styles */

/* VARIABLES */
/*TEXT*/
$primary-text: #263e24;
$primary-text-dark: #fff9d0;
$secondary-color: #423d1b;
$secondary-color-dark: #fffbdd;
$accent-color: #7f8114;
$hero-title: #cdcab3;

/*BG*/
$primary-bg: #fffbdd;
$primary-dark: #5b594b;
$secondary-bg: #c9c5a7;
$secondary-dark-bg: #38362e;
$accent-shadow: #90b78f9c;
$title-shadow: rgba(0, 0, 0, 0.25);
$bg-fon-transparent: rgba(0, 0, 0, 0.4);
$bg-fon-footer: rgba(217, 217, 217, 0.55);
$bg-fon-modal: rgba(55, 52, 28, 0.7);
$bg-btn: #fff8bf;

/*ICON and ELEMENT*/
$icon-light: #cdcab3;
$icon-dark: #423d1b;

$icon-close-BM: #263e24;
$icon-map: #263e24;
$arrow-fill: #a1a099;
$hover-close-btn: #7f8114;
$hover-open-btn: #fff8bf;
$line-slide: #7f8114;

$short-line: rgba(33, 33, 33, 0.2);

/* MIXIN */
// @mixin min-mobile {
//   @media screen and (min-width: 320px) and (max-width: 413px) {
//     @content;
//   }
// }

@mixin mobile {
  @media screen and (min-width: 320px) and (max-width: 374px) {
    @content;
  }
}

@mixin mobileMax {
  @media screen and (min-width: 375px) and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin tabletMin {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) and (max-width: 1920px) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

@mixin short-font($fs, $lp) {
  & {
    font-size: $fs;
    letter-spacing: $lp;
  }
}

@mixin font($fs, $fw, $ls) {
  & {
    font-size: $fs;
    font-weight: $fw;
    letter-spacing: $ls;
  }
}

html {
  scroll-behavior: smooth;
}

body,
button {
  background-color: #fffbdd;
  color: #263e24;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  // overflow: hidden; /* NOT scrolling */
  /* margin: 0 auto; */
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #263e24;
}

address {
  font-style: normal;
}

.swiper {
  & {
    width: 240px;
    height: 320px;
  }

  @include tabletMin {
    width: 100%;
    height: 100%;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  @include tablet {
    width: 690px !important;
  }
}

.swiper-scrollbar-drag {
  background-color: $line-slide !important;
}

/* THEME */
.darkTheme {
  background-color: $primary-dark;
  color: $primary-text-dark;
}

.darkTheme p {
  // background-color: $secondary-dark-bg;
  color: $secondary-color-dark;
}

.darkTheme h3,
.darkTheme h4 {
  // background-color: $secondary-dark-bg;
  color: $primary-text-dark;
}

.darkTheme header {
  background-color: $secondary-dark-bg;
  color: $primary-text-dark;
}

.lightTheme header {
  background-color: $secondary-bg;
  color: $primary-text;
}

.darkTheme .navSiteLink {
  color: $primary-text-dark !important;
}

// .lightTheme .navSiteLink {
//   color: $primary-text;
// }

.darkTheme button {
  color: $primary-text-dark;
}

.lightTheme button {
  color: $primary-text;
}
